<ion-content class="cadastro-content">

  <!-- Logo -->
  <div class="logo-container">
    <img src="../../assets/logo_mini.png" alt="Logo Drop" />
  </div>

  <!-- Formulário -->
  <form class="cadastro-form">
    <div class="input">
      
      <ion-input class="tam" label="Nome" label-placement="floating"  placeholder="Digite seu nome"></ion-input>

      <ion-input class="tam" label="Sobrenome" label-placement="floating"  placeholder="Digite seu sobrenome"></ion-input>

      <ion-input class="tam" label="Email" label-placement="floating"  placeholder="Digite seu email"></ion-input>

      <ion-input class="tam" label="Senha" label-placement="floating"  placeholder="Digite sua senha"></ion-input>

      <ion-input class="tam" label="Endereço" label-placement="floating"  placeholder="Digite seu endereço"></ion-input>

      <ion-input class="tam" label="Número do Endereço" label-placement="floating"  placeholder="Digite seu número"></ion-input>

    </div>
    <!-- Botão -->
    <ion-button expand="block" class="btn-cadastrar">
      CADASTRAR
    </ion-button>

    <!-- Link -->
    <p class="login-link">
      <a routerLink="/login">Já tenho uma conta !</a>
    </p>
  </form>

</ion-content>
