.form-container {
    width: 100%;
    max-width: 350px;
    background: #c37841;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  
  ion-item {
    --background: white;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-input {
    color: #000;
  }
  