.cadastro-content {
  --background: #b86b2b; // fundo marrom/laranja
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;

  img {
    width: 140px;
    height: auto;
    border-radius: 50%;
  }
}

.cadastro-form {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.btn-cadastrar {
  --background: #8b4a1d; // marrom mais escuro
  --border-radius: 16px;
  font-weight: bold;
  margin-top: 20px;
  height: 45px;
  color: white;
}

.links {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;

  a {
    color: white;
    text-decoration: none;
  }
}

::ng-deep .sc-ion-input-md-h {
  --highlight-height: 0 !important;
  --border-width: 0 !important;
}


.input {
  ion-input {
    --background: #ffffff; // cinza claro
    --border-radius: 16px;
    --padding-start: 12px;
    --color: black !important;
    --placeholder-color: rgb(0, 0, 0);
    --highlight-color: black !important;
    padding-left: 15px;
    min-height: 50px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 17px;
}