<ion-header>
    <ion-toolbar style="--background: #99521C;">
      <ion-buttons slot="start">
        <ion-button
          fill="clear"
          class="back-button"
          style="--color: white;"
          [routerLink]="['/home']">
          <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title class="center-title">Minha Sacola</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <!-- aqui vai o conteúdo da sacola -->
  </ion-content>
  

  <ion-content class="ion-padding">
    <div class="cart-container">
      <div class="cart-item">
        <div class="item-image">
            <img src="" alt="" />
          </div>
        <div class="item-info">
          <ion-label class="product-name">Nome do produto</ion-label>
          <ion-label class="establishment-name">Nome do estabelecimento</ion-label>
          <ion-label class="price">R$ 0,00</ion-label>
        </div>
        <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
      </div>
    </div>
  
    <div class="add-more">
      <ion-button 
        fill="clear" 
        class="add-button" 
        style="--color: #C27933; --background: #C88545;" 
        [routerLink]="['/home']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  
    <div class="order-summary">
      <ion-label class="subtotal">Subtotal: R$ 0,00</ion-label>
      <ion-button expand="block" class="place-order-button" style="--background: #99521C;">Realizar pedido</ion-button>
    </div>
  </ion-content>