<ion-content [fullscreen]="true" class="login-content">
  <div class="login-card">
    <div class="logo-container">
      <img src="../../assets/logo_lado.png" alt="Logo Drop" class="logo-image"/>
    </div>

    <div class="input">
      <ion-input type="email" label="Email" label-placement="floating"  placeholder="Digite seu email"></ion-input>
      <ion-input type="password" label="Senha" label-placement="floating"  placeholder="Digite sua senha"></ion-input>
    </div>

    <ion-button expand="block" class="login-button">ENTRAR</ion-button>

    <div class="links">
      <a href="/cadastro">Não tenho uma conta</a>
      <a href="#">Sou uma loja !</a>
    </div>
  </div>
</ion-content>
