<ion-tabs>
  <ion-tab-bar slot="bottom" class="dash-tab-bar">

    <ion-tab-button tab="pedidos" class="tab-btn">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico" class="tab-btn">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produtos" class="tab-btn">
      <ion-icon name="bag-add-outline"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class="tab-btn">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
