<ion-tabs></ion-tabs>

<div class="fixed-bottom-nav">
  <div class="nav-content">
    
    <div class="nav-item" [routerLink]="['/lojas/dashboard/pedidos']" routerLinkActive="active">
      <ion-icon name="receipt-outline"></ion-icon>
      <span>Pedidos</span>
    </div>
    
    <div class="nav-item" [routerLink]="['/lojas/dashboard/historico']" routerLinkActive="active">
      <ion-icon name="time-outline"></ion-icon>
      <span>Histórico</span>
    </div>
    
    <div class="nav-item" [routerLink]="['/lojas/dashboard/produtos']" routerLinkActive="active">
      <ion-icon name="bag-add-outline"></ion-icon>
      <span>Produtos</span>
    </div>
    
    <div class="nav-item" [routerLink]="['/lojas/dashboard/perfil']" routerLinkActive="active">
      <div class="nav-profile-icon">
        <img *ngIf="logoUrl" [src]="logoUrl" class="nav-profile-photo" alt="Perfil">
        <ion-icon *ngIf="!logoUrl" name="storefront"></ion-icon>
      </div>
      <span>Perfil</span>
    </div>

  </div>
</div>